﻿
@using TraQR.Web.Models

@{
    ViewBag.Title = "Index";
}

@{ var item = (traqr_items)ViewData["item"];}

<br /><br />
<h2>View QR Code</h2>


<label id="name">Item Name: </label>    <label id="lblName">@item.ItemName</label> <br /> <br />
<label id="description">Item Description: </label>    <label id="lblDescription">@item.ItemDescription</label> <br /> <br />
<label id="id">Item ID: </label>    <label id="itemID">@item.ItemID</label> <br /> <br />

<img id="QRImage" src=variable />


<script>
    console.log(document.getElementById("itemID").innerHTML);

    var variable = "https://chart.apis.google.com/chart?cht=qr&chs=250x250&choe=UTF-8&chld=H&chl=" + itemID.innerHTML;

    document.getElementById("QRImage").src = variable;

</script>



