﻿@using Newtonsoft.Json
@using TraQR.Web.Models
@{
    ViewBag.Title = "Inventory Map";
}

<br /><br />
<h2>Map View </h2>
<br /><br />
      <input type="hidden" id="USER" value=@HttpContext.Current.Session["CurrentUser"].ToString()>
<html>
<head>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <title>Simple Map</title>
    <meta name="viewport" content="initial-scale=1.0">
    <meta charset="utf-8">
    <style>
        /* Always set the map height explicitly to define the size of the div
        * element that contains the map. */
        #map {
            height: 100%;
        }
        /* Optional: Makes the sample page fill the window. */
        html, body {
            height: 100%;
            margin: 0;
            padding: 0;
        }
    </style>
</head>
<body>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCOb0oisCTBYUWE0Ns_om8q6yhBpYmUTEY&callback=initMap"
            async defer></script>
    <div id="map"></div>

    <script>
        function initMap() {
            var BitliskiClass = { lat: 40.267855, lng: -78.835708 };

            var map = new google.maps.Map(document.getElementById('map'), {
                zoom: 10,
                center: BitliskiClass
            });

            

            console.log("call ready");
            $.ajax({ //Do an ajax post to the controller
                type: 'POST',
                url: '/api/Item/GetInventory',
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                
                beforeSend: function (request) {
                    
                    request.setRequestHeader("CompanyID", $('#USER').val())
                }
            }).done(function (result) {
                console.log(result)

                result.forEach(function (Item) {
                    var marker = new google.maps.Marker({
                        position: { lat: Item.Latitude, lng: Item.Longitude },
                        map: map,
                        title: Item.ItemName
                    });
                })
            })
        }
    </script>


</body>


</html>