﻿@model TraQR.Web.Models.traqr_items
@using Newtonsoft.Json
@using TraQR.Web.Models

@{
    ViewBag.Title = "Create";
}

<br />
<br />
<h2>Create a New Item</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

   
    <div class="form-horizontal form-group">
        
        <h4>Create Item</h4>

        @Html.HiddenFor(model => model.CompanyID, new { @Value = JsonConvert.DeserializeObject<traqr_user>(Session["CurrentUser"].ToString()).CompanyID  })
        @Html.HiddenFor(model => model.UserID, new {  @Value = JsonConvert.DeserializeObject<traqr_user>(Session["CurrentUser"].ToString()).UserID  })
        @Html.HiddenFor(model => model.CategoryID, new { @Value = 1 })

        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.ItemName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ItemName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ItemName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ItemDescription, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ItemDescription, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ItemDescription, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group" hidden>
            @Html.LabelFor(model => model.Latitude, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10" hidden>
                @Html.ValidationMessageFor(model => model.Latitude, "", new { @class = "text-danger" })
                @Html.TextBoxFor(model => model.Latitude, new { id = "0", Value = "0" })
            </div>
        </div>

        <div class="form-group" hidden>
            @Html.LabelFor(model => model.Longitude, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10" hidden>
                @Html.ValidationMessageFor(model => model.Longitude, "", new { @class = "text-danger" })
                @Html.TextBoxFor(model => model.Longitude, new { id = "0", Value = "0" })
            </div>
        </div>

        <div class="form-group" hidden>
            @Html.LabelFor(model => model.UserID, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.UserID, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.UserID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group" hidden>
            @Html.LabelFor(model => model.OrderNumber, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10" hidden>
                @Html.EditorFor(model => model.OrderNumber, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.OrderNumber, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group" hidden>
            @Html.LabelFor(model => model.LocationName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10" hidden>
                @Html.EditorFor(model => model.LocationName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.LocationName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group" hidden>
            @Html.LabelFor(model => model.LocationDescription, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10" hidden>
                @Html.EditorFor(model => model.LocationDescription, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.LocationDescription, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.StatusID, "Status", htmlAttributes: new { @class = "control-label col-md-2"})
            <div class="col-md-10">
                @Html.ValidationMessageFor(model => model.StatusID, "", new { @class = "text-danger" })
                @Html.DropDownListFor(model => model.StatusID, new SelectList(
                    new List<Object>
                    {
                   new {value = 1, text ="In Storage"},
                   new {value = 2, text ="Loaded"},
                   new {value = 3, text ="Unloaded"},
                   new {value = 4, text ="Damaged"},
                   new {value = 5, text ="Out For Repair"}
                    },

                    "value",
                    "text"


                    ))
            </div>
        </div>

        <div class="form-group" hidden>
            @Html.LabelFor(model => model.StatusDescription, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10" hidden>
                @Html.EditorFor(model => model.StatusDescription, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.StatusDescription, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-warning" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>