﻿@model TraQR.Web.Models.traqr_items

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>traqr_items</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ItemName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ItemName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ItemDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ItemDescription)
        </dd>

        <dt hidden>
            @Html.DisplayNameFor(model => model.CategoryID)
        </dt>

        <dd hidden>
            @Html.DisplayFor(model => model.CategoryID)
        </dd>

        <dt hidden>
            @Html.DisplayNameFor(model => model.Latitude)
        </dt>

        <dd hidden>
            @Html.DisplayFor(model => model.Latitude)
        </dd>

        <dt hidden>
            @Html.DisplayNameFor(model => model.Longitude)
        </dt>

        <dd hidden>
            @Html.DisplayFor(model => model.Longitude)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UserID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserID)
        </dd>

        <dt hidden>
            @Html.DisplayNameFor(model => model.OrderNumber)
        </dt>

        <dd hidden>
            @Html.DisplayFor(model => model.OrderNumber)
        </dd>

        <dt hidden>
            @Html.DisplayNameFor(model => model.LocationName)
        </dt>

        <dd hidden>
            @Html.DisplayFor(model => model.LocationName)
        </dd>

        <dt hidden>
            @Html.DisplayNameFor(model => model.LocationDescription)
        </dt>

        <dd hidden>
            @Html.DisplayFor(model => model.LocationDescription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StatusID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StatusID)
        </dd>

        <dt hidden>
            @Html.DisplayNameFor(model => model.StatusDescription)
        </dt>

        <dd hidden>
            @Html.DisplayFor(model => model.StatusDescription)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ItemID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
