﻿@model List<TraQR.Web.Models.InventoryViewModel>
@*@model TraQR.Web.Models.InventoryViewModel *@
@*@model IEnumerable<TraQR.Web.Models.traqr_items>*@

@{
    ViewBag.Title = "Index";
}

<br /><br />
<h2>Inventory Page</h2>


<p>
    @Html.ActionLink("Create New", "Create")
</p>


<div class="container">
    <div class="form-group">
        <div class="input-group">
            <span class="input-group-addon">
                <i class="fa fa-search"></i>
            </span>
            <input type="text" id="Search" placeholder="Search:" class="form-control" />
        </div>
    </div>
</div>
<br />
<table class="table" border="1">
    <thead>
        <tr>
            <th>
                Item
            </th>
            <th>
                Item Description
            </th>
            <th hidden>
                Category
            </th>
            <th hidden>
                Latitude
            </th>
            <th hidden>
                Longitude
            </th>
            <th>
                Last Scanned By
            </th>
            <th hidden>
                Order Number
            </th>
            <th hidden>
                Location Name
            </th>
            <th hidden>
                Location Description
            </th>
            <th>
                Status
            </th>
            <th hidden>
                Status Description
            </th>
            <th>
                Company
            </th>
            <th>Options</th>
        </tr>
    </thead>
    <tbody id="DataTable">

        @foreach (var item in Model)
        {
            <tr class="Search">
                <td>@item.ItemName</td>
                <td>@item.ItemDescription</td>
                <td hidden>@item.Category</td>
                <td hidden>@item.Latitude</td>
                <td hidden>@item.Longitude</td>
                <td>@item.Username</td>
                <td hidden>@item.OrderNumber</td>
                <td hidden>@item.LocationName</td>
                <td hidden>@item.LocationDescription</td>
                <td>@item.Status</td>
                <td hidden>@item.StatusDescription</td>
                <td>@item.Company</td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.ItemID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.ItemID }) |
                    @Html.ActionLink("Print QR Code", "../QRView/Index", new { id = item.ItemID })
                </td>

            </tr>
        }
    </tbody>
</table>

<script src="~/Scripts/jquery-3.0.0.min.js"></script>

<script>
    $(document).ready(function () {
        function Contains(text_one, text_two) {
            if (text_one.indexOf(text_two) != -1)
                return true;
        }
        $("#Search").keyup(function () {
            var searchText = $("#Search").val().toLowerCase();
            $(".Search").each(function () {
                if (!Contains($(this).text().toLowerCase(), searchText)) {
                    $(this).hide();
                }
                else {
                    $(this).show();
                }
            });
        });
    });
</script>
