﻿
@{
    ViewBag.Title = "Index";
}
<br /><br />
<h2>Create Category</h2>

<p>Category Name</p>
<input type="text" id="CategoryName" /> <br> <br />

<input type="button" value="Create" id="createButton" />

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"><</script>

<script>
    $('#submitButton').click(function () {
        var categoryName = $('#CategoryName').val();


        $.ajax({ //Do an ajax post to the controller
            type: 'POST',
            url: '/api/registration/CreateCategory',
            beforeSend: function (request) {
                request.setRequestHeader("CategoryName", categoryName),

        },
            contentType: "application/json; charset=utf-8",
            dataType: "json"
        }).done(function (result) {
            console.log(result)
        })
    })

</script>
