﻿
@{
    ViewBag.Title = "CompanyRegistration";
}

<br />
<br />
<h2 style="color:black">Company Registration</h2>

<div class="input-group">
    <label class="text" style="color: black">Company Name</label><br />
    <input class="form-control" type="text" id="CompanyName" /> <br><br />
</div>
<div class="input-group">
    <label class="text" style="color: black">Registration Code</label><br />
    <input class="form-control" type="text" id="RegistrationCode" /> <br><br />
</div>
<div class="input-group">
    <label class="text" style="color: black ">Street</label><br />
    <input class="form-control" type="text" id="Street" /> <br><br />
</div>
<div class=" input-group">
    <label class="text" style="color: black ">City</label><br />
    <input class="form-control" type="text" id="City" /> <br><br />
</div>
<div class="input-group">
    <label class="text" style="color: black">State</label><br />
    <input class="form-control" type="text" id="State" /> <br><br />
</div>
<div class="input-group">
    <label class="text" style="color: black">Zip</label><br />
    <input class="form-control" type="text" id="Zip" /> <br><br />
</div>
<div class="input-group">
    <label class="text" style="color: black">Apartment Number</label><br />
    <input class="form-control" type="text" id="AptNumber" /> <br><br />
</div>
<br />
<input class="btn btn-warning" type="button" value="Submit" id="submitButton" />

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"><</script>

<script>
    $('#submitButton').click(function () {
        var companyName = $('#CompanyName').val();
        var registrationCode = $('#RegistrationCode').val();
        var street = $('#Street').val();
        var city = $('#City').val();
        var state = $('#State').val();
        var zip = $('#Zip').val();
        var aptNumber = $('#AptNumber').val();

        $.ajax({ //Do an ajax post to the controller
            type: 'POST',
            url: '/api/registration/RegisterCompany',
            beforeSend: function (request) {
                    request.setRequestHeader("CompanyName", companyName),
                    request.setRequestHeader("RegistrationCode", registrationCode),
                    request.setRequestHeader("Street", street),
                    request.setRequestHeader("City", city);
                request.setRequestHeader("State", state);
                request.setRequestHeader("Zip", zip);
                request.setRequestHeader("AptNumber", aptNumber);
                ;
            },
            contentType: "application/json; charset=utf-8",
            dataType: "json"
        }).done(function (result) {
            window.location = "../";
            console.log(result)
        })
    })

</script>
