
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<h2>Welcome to TraQR! </h2>

@{
    ViewBag.Title = "Login";
}

<br />
<br />
<h2 style="color:black">Login</h2>
<div class="input-group">

    <label class="text" style="color: black">Username</label>
    <br />
    <input type="text" style="color: black" class="form-control" id="usernameEntry" value="J.Bilitski" placeholder="Enter Username"/> <br>
    <br />
    <label class="text" style="color: black">Password</label>
    <input type="password" class="form-control" id="passwordEntry" value="fortnite1" placeholder="Enter Password" /> <br>
    <br />
    <br />
    <br />
    <input type="button" class="btn btn-warning" value="Login" id="loginButton" />

</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script>
    $('#loginButton').click(function () {
        var userName = $('#usernameEntry').val();
        var password = $('#passwordEntry').val();

        console.log(SHA256(password))

        $.ajax({ //Do an ajax post to the controller
            type: 'POST',
            url: '/api/registration/Authenticate',
            beforeSend: function (request) {
                    request.setRequestHeader("UserName", userName),
                    request.setRequestHeader("Password", SHA256(password));
                ;
            },
            contentType: "application/json; charset=utf-8",
            dataType: "json"
        }).done(function (result) {
            console.log(result);

            if (result.UserID == -1) {
                alert("Invalid Credentials Detected.\n Please enter correct Username and Password");
                return;
            }
            else{

                $.ajax({ //Do an ajax post to the controller
                    type: 'POST',
                    url: '../Home/SetLogin',
                    beforeSend: function (request) {
                        request.setRequestHeader("User", JSON.stringify(result));
                    },
                    contentType: "application/json; charset=utf-8",
                    dataType: "json"
                }).done(function () {

                    window.location = "../Inventory";

                })

            }

            
            
            

        })
    })
    
</script>