﻿
@{
    ViewBag.Title = "UserHomePage";
}

<h2>User Home Page</h2>



<a href="/Inventory/" class="Button">View Inventory</a>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"><</script>



<script>
    /* //CURRENTLY DOES NOT FUNCTION AT ALL, JUST HAS A VIEW INVENTORY BUTTON
        $('submitButton').click(function () {

            
            $.ajax({ //Do an ajax post to the controller
                type: 'POST',
                url: 'http://localhost:59842/api/registration/authenticate',
                beforeSend: function (request) {
                    
                },
                contentType: "application/json; charset=utf-8",
                dataType: "json"
            }).done(function (result) {
                console.log(result)
            })
            
    }
    */

</script>

