﻿
@{
    ViewBag.Title = "CreateUser";
}
<br /><br />

<br />
<br />
<h2 style="color:black">Create User</h2>
<div class="input-group">
    <label class="text" style="color: black">Username</label> <br />
    <input class="form-control" type="text" id="usernameEntry" /> <br><br />
</div>
<div class="input-group">
    <label class="text" style="color: black">First Name</label><br />
    <input class="form-control" type="text" id="firstnameEntry" /> <br><br />
</div>
<div class="input-group">
    <label class="text" style="color: black">Last Name</label><br />
    <input class="form-control" type="text" id="secondnameEntry" /> <br><br />
</div>
<div class="input-group">
    <label class="text" style="color: black">Password</label><br />
    <input class="form-control" type="password" id="firstpasswordEntry" /> <br><br />
</div>
<div class="input-group">
    <label class="text" style="color: black">Confirm Password</label><br />
    <input class="form-control" type="password" id="secondpasswordEntry" /> <br><br />
</div>
<div class="input-group">
    <label class="text" style="color: black">Company Registration Code</label><br />
    <input class="form-control" type="text" id="companyCodeEntry"/> <br><br />
</div>
<br />
<input class="btn btn-warning" type="button" value="Submit" id="submitButton" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<script>
    $('#submitButton').click(function () {
        var username = $('#usernameEntry').val();
        var firstname = $('#firstnameEntry').val();
        var lastname = $('#secondnameEntry').val();

        var firstpassword = $('#firstpasswordEntry').val();
        var secondpassword = $('#secondpasswordEntry').val();

        var companyCode = $('#companyCodeEntry').val();

        $.ajax({ //Do an ajax post to the controller
            type: 'POST',
            url: '/api/registration/registeruser',
            beforeSend: function (request) {
                request.setRequestHeader("UserName", username),
                    request.setRequestHeader("FirstName", firstname),
                    request.setRequestHeader("LastName", lastname),
                    request.setRequestHeader("FirstPassword", SHA256(firstpassword)),
                    request.setRequestHeader("SecondPassword", SHA256(secondpassword)),
                    request.setRequestHeader("RegistrationCode", companyCode);
                   },
                contentType: "application/json; charset=utf-8",
                dataType: "json"
            }).done(function (result) {
                window.location = "../"
                console.log(result)
            })
    })

</script>
