﻿body {
    /*
    background: rgba(155,157,156,1);
    background: -moz-linear-gradient(45deg, rgba(155,157,156,1) 0%, rgba(155,157,156,1) 66%, rgba(96,202,226,1) 87%, rgba(96,202,226,1) 100%);
    background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(155,157,156,1)), color-stop(66%, rgba(155,157,156,1)), color-stop(87%, rgba(96,202,226,1)), color-stop(100%, rgba(96,202,226,1)));
    background: -webkit-linear-gradient(45deg, rgba(155,157,156,1) 0%, rgba(155,157,156,1) 66%, rgba(96,202,226,1) 87%, rgba(96,202,226,1) 100%);
    background: -o-linear-gradient(45deg, rgba(155,157,156,1) 0%, rgba(155,157,156,1) 66%, rgba(96,202,226,1) 87%, rgba(96,202,226,1) 100%);
    background: -ms-linear-gradient(45deg, rgba(155,157,156,1) 0%, rgba(155,157,156,1) 66%, rgba(96,202,226,1) 87%, rgba(96,202,226,1) 100%);
    background: linear-gradient(45deg, rgba(155,157,156,1) 0%, rgba(155,157,156,1) 66%, rgba(96,202,226,1) 87%, rgba(96,202,226,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9b9d9c', endColorstr='#60cae2', GradientType=1 );
        */
    /*
    background: rgba(64,64,64,1);
    background: -moz-linear-gradient(45deg, rgba(64,64,64,1) 0%, rgba(144,146,145,1) 47%, rgba(78,196,223,1) 92%, rgba(78,196,223,1) 100%);
    background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(64,64,64,1)), color-stop(47%, rgba(144,146,145,1)), color-stop(92%, rgba(78,196,223,1)), color-stop(100%, rgba(78,196,223,1)));
    background: -webkit-linear-gradient(45deg, rgba(64,64,64,1) 0%, rgba(144,146,145,1) 47%, rgba(78,196,223,1) 92%, rgba(78,196,223,1) 100%);
    background: -o-linear-gradient(45deg, rgba(64,64,64,1) 0%, rgba(144,146,145,1) 47%, rgba(78,196,223,1) 92%, rgba(78,196,223,1) 100%);
    background: -ms-linear-gradient(45deg, rgba(64,64,64,1) 0%, rgba(144,146,145,1) 47%, rgba(78,196,223,1) 92%, rgba(78,196,223,1) 100%);
    background: linear-gradient(45deg, rgba(64,64,64,1) 0%, rgba(144,146,145,1) 47%, rgba(78,196,223,1) 92%, rgba(78,196,223,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#404040', endColorstr='#4ec4df', GradientType=1 );
    */
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#a4a4a5+5,d2d3db+60,cc5200+99 */
    background: #a4a4a5; /* Old browsers */
    background: -moz-linear-gradient(45deg, #a4a4a5 5%, #d2d3db 60%, #cc5200 99%); /* FF3.6-15 */
    background: -webkit-linear-gradient(45deg, #a4a4a5 5%,#d2d3db 60%,#cc5200 99%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(45deg, #a4a4a5 5%,#d2d3db 60%,#cc5200 99%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a4a4a5', endColorstr='#cc5200',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}
